@{
    ViewBag.Title = "Contact Directory";
}

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Contact Directory</h1>
        <p class="lead">You must login first to view the contact directory.</p>
    </div>
}
else
{
    <div ng-controller="mainController as ctrl" ng-cloak>
        <div class="row">
            <div class="col-md-4">
                <div class="form-inline">
                    <label>Search:</label>
                    <input type="text" class="form-control" ng-model="ctrl.searchText" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-inline">
                    <label>Order By:</label>
                    <select class="form-control" ng-model="ctrl.orderBy" style="max-width: 200px;">
                        <option></option>
                        <option value="FirstName">First Name</option>
                        <option value="Surname">Surname</option>
                        <option value="Email">Email</option>
                    </select>
                    <select class="form-control" ng-model="ctrl.orderByReverse" style="max-width: 100px">
                        <option value="false">ASC</option>
                        <option value="true">DESC</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 contacts-list" ng-repeat="contact in ctrl.allContacts | filter:ctrl.searchText | orderBy:ctrl.orderBy:ctrl.orderByReverseGet() track by $index">
                <a href="@Url.Action("Index", "Map")">
                    <md-list-item class="md-2-line contact-item">
                        <img ng-src="{{contact.Avatar}}" class="md-avatar" alt="{{contact.Email}}" />
                        <div class="md-list-item-text compact">
                            <h3>{{contact.FirstName + " " + contact.Surname}}</h3>
                            <p>{{contact.Email}}</p>
                        </div>
                    </md-list-item>
                </a>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    }
}