@{
    ViewBag.Title = "Contact Directory";
}

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Contact Directory</h1>
        <p class="lead">You must login first to view the contact directory.</p>
    </div>
}
else
{
    <div class="row" ng-controller="mainController as ctrl" ng-cloak>
        <div class="col-md-4 contacts-list" ng-repeat="contact in ctrl.allContacts track by $index">
            <a href="@Url.Action("Index", "Map")">
                <md-list-item class="md-2-line contact-item">
                    <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                    <div class="md-list-item-text compact">
                        <h3>{{contact.name}}</h3>
                        <p>{{contact.email}}</p>
                    </div>
                </md-list-item>
            </a>
        </div>
    </div>

    @section scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    }
}